/* .cookie-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cookie-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cookie-description h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.cookie-description p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

.cookie-description p:last-of-type {
    font-weight: bold;
    color: #000;
} */
