/* Navigation.css */

.navigation-bar {
  background-color: lightblue;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* Makes the navbar relative to position the user icon */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* Optional: Profile Dropdown styles */
.profile-dropdown {
  position: absolute;
  top: 40px;
  /* Adjust this value as necessary for the dropdown */
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  /* Adjust this value to position the icon vertically */
  right: 20px;
  /* Position the icon on the top right */
}

.user-icon svg {
  color: lightpink;
  font-size: 30px;
  /* Adjusts the size of the user icon */
}

.user-icon:hover {
  background-color: #ffcccb;
}
